<div class="header">
  <div class="para">
    <h2>02 MEET YOUR CREW</h2>
    <h3>FLIGHT ENGINEER</h3>
    <h1>ANOUSHEH ANSARI</h1>
    <p>
      Anousheh Ansari is a Iranian engineer and co-<br />founder of prodea
      system.Ansari was the fourth space tourist,the first self-<br />funded
      woman to fly and <br />the first iranian in space.
    </p>
  </div>
  <div class="img mb-3 mt-3">
    <img
      src="../../../assets/crew/image-anousheh-ansari.png"
      width="400"
      height="400"
    />
  </div>
</div>
