.header {
  padding-top: 100px;
  padding-left: 50px;
  background-image: url(../../../assets/crew/background-crew-desktop.jpg);
  width: 100vw;
}
h2 {
  font-size: 25px;
  color: white;
  padding-top: 5px;
  padding-bottom: 25px;
}
h3 {
  font-size: 25px;
  color: #eee;
  padding-top: 5px;
  padding-bottom: 25px;
}
h1 {
  font-size: 30px;
  color: white;
}

p {
  padding-top: 20px;
  font-size: 12px;
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.img {
  justify-items: right;
  padding-left: 150px;
}
.header,
.img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header {
  padding-top: 100px;
  padding-left: 70px;
  background-image: url(../../../assets/technology/background-technology-desktop.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
}
h2 {
  font-size: 15px;
  color: white;
}
h3 {
  font-size: 15px;
  color: white;
}
h1 {
  font-size: 40px;
  color: white;
}
p {
  font-size: 12px;
  color: white;
}
.img {
  text-align: right;
  padding-right: 20px;
}
.header,
.img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
span {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 25px;
}
