<div class="header">
  <div class="heading">
    <h2>01 PICK YOUR DESTINATION</h2>
  </div>
  <div class="main">
    <div class="img">
      <img
        src="../../../../assets/destination/image-europa.png"
        height="350"
        width="350"
      />
    </div>
    <div class="text">
      <h1>EUROPA</h1>
      <p>
        Europa The smallest of the four Galilean moons <br />orbiting Jupiter,
        Europa is a winter lover’s dream. <br />With an icy surface, it’s
        perfect for a bit of ice skating,<br />
        curling, hockey, or simple relaxation in your<br />
        snug wintery cabin.
      </p>
      <hr />
      <div class="range">
        <p>AVG. DISTANCE <br /><b>628 MIL. KM</b></p>
        <p>
          EST. TRAVEL TIME<br />
          <b> 3 YEARS</b>
        </p>
      </div>
    </div>
  </div>
</div>
