<div class="header">
  <div class="heading">
    <h2>01 PICK YOUR DESTINATION</h2>
  </div>
  <div class="main">
    <div class="img">
      <img
        src="../../../../assets/destination/image-mars.png"
        height="350"
        width="350"
      />
    </div>
    <div class="text">
      <h1>MARS</h1>
      <p>
        Mars Don’t forget to pack your hiking boots. <br />You’ll need them to
        tackle Olympus Mons, the tallest planetary<br />
        mountain in our solar system. It’s two and a half times <br />the size
        of Everest!
      </p>
      <hr />
      <div class="range">
        <p>AVG. DISTANCE <br /><b> 225 MIL. KM</b></p>

        <p>
          EST. TRAVEL TIME<br />
          <b> 9 MONTHS.</b>
        </p>
      </div>
    </div>
  </div>
</div>
