<div class="header">
  <div class="para">
    <h2>03 SPACE LAUNCH 101</h2>
    <br /><br />
    <div class="main">
      <span>1</span>
      <div class="row">
        <h3>THE TERMINOLOGY</h3>
        <h1>LAUNCH VEHICLE</h1>
      </div>
    </div>
    <br /><br />
    <div class="main">
      <span>2</span>
      <p>
        A launch vehicle or carrier rocket is a rocket-propettited <br />vehicle
        used to carry a payload from Earth's surface to<br />
        space.Usually to earth orbit or beyond.Our WEB-X <br />
      </p>
    </div>
    <br /><br />
    <div class="main">
      <span>3</span>
      <p>
        carrier rocket is most powerful in operation.<br />
        Standing ISO meters tall.It's quite <br />an awe-inspiring sight on
        bunch pad!
      </p>
    </div>
    <br /><br />
  </div>
  <div class="img mb-3 mt-3">
    <img
      src="../../../assets/technology/satelite.jpg"
      width="400"
      height="400"
    />
  </div>
</div>
