<div class="header">
  <div class="heading">
    <h2>01 PICK YOUR DESTINATION</h2>
  </div>
  <div class="main">
    <div class="img">
      <img
        src="../../../../assets/destination/image-titan.png"
        height="350"
        width="350"
      />
    </div>
    <div class="text">
      <h1>TITAN</h1>
      <p>
        Titan The only moon known to have a dense atmosphere<br />
        other than Earth, Titan is a home away from <br />home (just a few
        hundred degrees colder!). As a bonus,<br />
        you get striking views of the Rings of Saturn.
      </p>
      <hr />

      <div class="range">
        <p>AVG. DISTANCE <br /><b>225 MIL. KM</b></p>

        <p>
          EST. TRAVEL TIME<br />
          <b> 9 MONTHS.</b>
        </p>
      </div>
    </div>
  </div>
</div>
